@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap');

body {
    font-family: 'Cinzel', serif; /* Fonte mística */
    background-color: #f2e6ff; /* Fundo em um lilás suave */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff; /* Manter o fundo branco para contraste */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: #5e4b8d; /* Um roxo profundo */
}

input[type="text"], input[type="url"] {
    width: calc(100% - 22px);
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #9b59b6; /* Bordas em um roxo mais claro */
    border-radius: 4px;
}

button {
    padding: 12px 18px;
    background-color: #8e44ad; /* Roxo místico */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #732d91; /* Roxo mais escuro no hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.product-image {
    max-width: 50px;
    margin-right: 10px;
}

.remove-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #e74c3c; /* Vermelho mais claro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #c0392b; /* Vermelho escuro no hover */
}